<div class="fixed border z-10 border-bgB rounded-lg"
    [ngStyle]="{width:store.canvasScaledPixelS().x+'px',height:store.canvasScaledPixelS().y+'px'}">
</div>
<!-- <div class="fixed bottom-0 right-0 border flex gap-1" [ngClass]="screen.isLandscapeS()? '' : 'flex-col' ">
    <div>Hallo</div>
    <div>Hallo</div>
    <div>Hallo</div>
    <div>Hallo</div>
</div> -->
<div id="canvasContainer" class="w-[100dvw] h-[100dvh] overflow-hidden">
</div>
<div
    class="fixed left-0 top-0 flex h-full w-[200%] animate-parallaxLeft mix-blend-multiply select-none pointer-events-none">
    <div [ngStyle]="{backgroundImage:'url(assets/img/Seamless_Rainbow.png)', backgroundSize:'contain'}"
        class="w-1/2 h-full"></div>
    <div [ngStyle]="{backgroundImage:'url(assets/img/Seamless_Rainbow.png)', backgroundSize:'contain'}"
        class="w-1/2 h-full">
    </div>
</div>

<global-icon *ngIf="!fullscreen.isFullScreenS()" class="fixed right-4 bottom-4" icon="octScreenFull"
    (click)="fullscreen.setFullScreen(true)">
</global-icon>