<canvas id="canvas" class="bg-textB cursor-crosshair select-none transform-gpu" [width]="screen.sampledWindowWidthS()"
    [height]="screen.sampledWindowHeightS()" (dblclick)="showSettings = true"></canvas>
<div class="fixed left-0 top-0 flex h-full w-[200%] animate-parallaxLeft mix-blend-multiply">
    <div [ngStyle]="{backgroundImage:'url(assets/img/Seamless_Rainbow.png)', backgroundSize:'contain'}"
        class="w-1/2 h-full select-none"></div>
    <div [ngStyle]="{backgroundImage:'url(assets/img/Seamless_Rainbow.png)', backgroundSize:'contain'}"
        class="w-1/2 h-full select-none">
    </div>
</div>